.container
  - if current_user.username
    .row
      .col-md-4
        section
          = render 'posts/new_post'
  .row
    .col-md-4
    .col-md-4
      - if user_signed_in?
        .page-header.center.text
          h3
            | Hello
            strong
              = ' ' + current_user.username + '!!!'
          button.btn.btn-danger
            = link_to "Sign Out", destroy_user_session_path, :method => :delete
          button.btn.btn-success
            = link_to "Edit profile", edit_user_registration_path, :method => :get
          button.btn.btn-primary
            = link_to "View profile", account_users_path, method: :get
      - else
        .center-text
          h1
            |  Welcome guest, please sign up or sing in
          button.btn.btn-primary
            = link_to "Sign In", new_user_session_path, :method => :get
          button.btn.btn-success
            = link_to "Sign up", new_user_registration_path, :method => :get
