- if current_user.follows?(user)
  = link_to 'unfollow', unfollow_account_user_path(user), id: 'follow', method: :get, remote: true
- else
  = link_to 'follow', follow_account_user_path(user), id: 'follow', method: :get, remote: true
