
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

$body-color:   #486090;
$light-color:  #FFFFFF;
$dark-color:   #000000;
$accent-color: #B7E9FF;
$button-blue-color: #1155ff;
$button-green-color: #208a12;
$comment-blue-form-color: $button-blue-color;
$button-edit-green-color: #95d684;
$comment-background-color: rgba(241, 240, 239, 0.89);
$like-btn-background-color: rgba(209,208,207,0.89);
$facebook-color: $body-color;
$grey-color: #666666;
$dark-grey-color: #4a4a4a;

h1 {
  text-align: center;
}
.center-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}
button a {
  color: white;
}
#logo {
  float: left;
  margin-right: 10px;
  margin-bottom: 4px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
  }
}
img {
    width: 100%;
}

.button {
  font-size: 15px;
  background-color: $button-blue-color;
  color: white;
  padding: 10px;
  border-radius: 4px;
  margin: 2px 0;
}
.button-green {
  background-color: $button-blue-color;
}
.button-blue {
  background-color: $button-blue-color;
}
.button-small {
  font-size: 10px;
  padding: 4px;
  margin: 5px 0;
}

.simple_form {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
  #comment_content {
    width: 320px;
    height: 26px;
    border-radius: 5px;
    border: 2px solid $comment-blue-form-color;
  }
}

.simple_form input[type=submit] {
  background-color: $button-blue-color;
  color: white;
  font-size: smaller;
  padding: 5px;
  border-width: 0;
  border-radius: 2px;
  margin-top: 2px;
}
.simple_form.edit_comment input[type=submit] {
  background-color: $button-edit-green-color;
  color: white;
  font-size: smaller;
  margin: 2px;
  width: 20%;
  align-self: center;
}

.row button {
  float: right;
  margin-right: 11.5%;
}

.post-time {
  font-size: 80%;
  color: rgba(67,61,72,0.56);
}
.comment {
  background-color: $comment-background-color;
}

.close {
  padding-top: 3px;
  margin-right: 3px;
}

.post-content .like {
  padding: 0;
}
.img-circle {
  border-radius: 50%;
}
.underline {
  padding-top: 7px;
  border-bottom: 2px solid $dark-grey-color;
  margin: 0 5%;
}
.comment-comment {
  color: $dark-grey-color;
  font-size: 13px;
  &:hover {
    text-decoration: none;
    color: $grey-color;
  }
}
#load-comments {
  display: block;
  margin-right: 20px;
  text-align: right;
  font-size: 16px;
  color: $body-color;
}


.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.simple_form.edit_comment, .new_comment {
  margin: 0 1%;
  textarea {
    margin-top: 2px;
    font-size: smaller;
  }
}
.simple_form.edit_post {
  width: 70%;
  margin-left: 10px;
}
//like button

a.like_btn {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 90px;
  height: 40px;
  background: $like-btn-background-color;
  border: 0;
  font-size: .9rem;
  font-family: Futura;
  transition: all .2s ease-in-out;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 0px 2px 0px rgba($dark-color,.1);
  outline: none;

  &:hover {
    color: darken($accent-color, 10%);
    transform: scale(1.2);

    span {
      opacity: 1;
      transition: all .2s ease-in-out;
    }
  }

  &:active {
    transform: scale(1.4);
  }

  .span {
    position: absolute;
    top: -55px;
    left: 0;
    right: 0;
    margin: auto;
    background: darken($accent-color, 10%);
    color: rgba($dark-color, .5);
    padding: 10px 0;
    border-radius: 100px;
    opacity: 0;
    transition: all .2s ease-in-out;

    &:hover {
      opacity: 1;
    }

    &:after {
      position: absolute;
      bottom: -7px;
      left: 0;
      right: 0;
      margin: auto;
      content: "";
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-top: 8px solid darken($accent-color, 10%);
    }
  }
}
.comment-comments {
  margin-left: 10%;
  border-left: 2px solid gainsboro;
}
.social {
  height: 30px;
}
#facebook-auth {
  background-color: $facebook-color;
  color: white ;
}

#google-auth {
  background-color: $like-btn-background-color;
  color: white;
}