@import "bootstrap-sprockets";
@import "bootstrap";

h1 {
  text-align: center;
}
.center-text {
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}
button a {
  color: white;
}
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
  }
}
img {
    margin: 4px 0;
}

.button {
  font-size: 15px;
  background-color: #1155ff;
  color: white;
  padding: 10px;
  border-radius: 4px;
}
.button-green {
  background-color: #208a12;
}
.button-blue {
  background-color: #1155ff;
}

.row {
  margin-top: 5px;
}

.new_post {
  overflow: hidden;
  position: relative;
}

.new_post input[type=submit] {
  background-color: #1155ff;
  color: white;
  font-size: 15px;
  padding: 5px;
  border-width: 0;
  border-radius: 4px;
  margin-top: 4px;
}
