.user-username {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  h1, a {
    display: inherit;
  }
  a {
    align-self: center;
  }
}
.followers, .followees {
  margin-top: 5px;
  p {
    text-align: right;
    background-color: #444345;
    color: white;
    padding-right: 5px;
  }
}