= simple_form_for [:account, message], remote: true do |f|
  = f.input :body, label: false, error: 'dfgfhfgh'
  = f.input :recipient_id,  as: :hidden
  = f.button :submit, 'SEND', class: 'send-message no-padding'
