= simple_form_for [:account, recipient,  message], remote: true do |f|
  = f.input :body, label: false
  = f.input :recipient_id,  as: :hidden
  = f.button :submit, 'SEND', class: 'send-message no-padding'